.main {
  padding: 20px;
}

.certs-header-div {
  text-align: center;
  margin-bottom: 20px;
}

.certs-header {
  font-size: 28px;
  font-weight: bold;

}

.certs-body-div {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 20px; 
  
}

@media (max-width: 1380px) {
  .certs-header {
    font-size: 35px;
  }
}

@media (max-width: 768px) {
  .certs-body-div {
    grid-template-columns: 1fr; 
  }

  .certs-header {
    font-size: 30px;
  }
}
