.dev-icons {
  /* margin-bottom: 0px;
  margin-top: 0px;
  text-align: center; */
}

.software-skill-inline {
  display: inline-block;

}



.software-skill-inline .icon-wrapper {
  font-size: 50px; 
}

