.dev-icons-languages {
  padding-left: 0;
  list-style: none;
  font-size: 2rem;
  margin-bottom: 0px;
  margin-top: 0px;
  text-align: right;
}

.software-skill-inline-languages {
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 0px;
  font-family: "Google Sans Regular";
}

.software-skill-inline-languages.rotate-icon .iconify {
  animation: rotate 1s linear infinite;
  transform-style: preserve-3d; /* Сохраняем 3D трансформации */
}

.software-skill-inline-languages.animating .iconify {
  animation-play-state: paused;
}

@keyframes rotate {
  100% {
    transform: rotateY(360deg); /* Вращение вокруг оси Y */
  }
}

.icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

@media (max-width: 768px) {
  .software-skill-inline-languages {
    margin-right: 10px;
    margin-bottom: 0px;
  }
}
